body{
    font-family: 'Cambria';
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #6495ed;
}

ul{
    margin: 0px;
}

/* h2: name */
.Name{
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

/* h3: content title like education, experience, skill, etc */
.ContentTitle{
    border-bottom: 2px solid black;
    margin: 0px;
    color: #6495ed;
}

/* h4: item title like syracuse university, beijing pipeling inc, etc */
.DetailTitle{
    margin: 0px;
}

.Info{
    text-align: center;
    margin-bottom: 5px;
}

#infoItem{
    display: inline;
    margin: 0px;
    padding-right: 10px;
    border-right: 1.5px solid black;
}
#infoItem:nth-last-child(1){
    border: none;
}

.Content{
    margin: 3px 20px;
}

.Detail{
    margin: 1px 3px;
}

.DetailContent{
    margin-right: 15px;
}

#itemRight{
    float: right;
    margin: 0px;
} 


