body{
    margin: 40px 13%;
    font-family: 'Courier New';
    font-size: 18px;
}

.menu{
    background-color: #f6f6f6;
    height: 20px;
    text-align: center;
    /* set padding to make MenuItem in center in the y direction*/
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 30px;
}

/* set all <a> with word (not picture) to the same style*/
.wordlink {
    text-decoration: none;
    color: steelblue;
}
.wordlink:hover{
    border-bottom: 1px solid steelblue;
}

#MenuItem{
    /* float and width are used to set MenuIten in center */
    width: 20%;
    float: left;
}

.individual{
    /* use grid to divide the div into two part */
    display: grid;
    grid-template-columns: 70% 30%;
    padding-left: 10px;
    padding-right: 10px;
}

#images{
    text-align: right;
}

#title{
    /* bio, internhsip, project underline */
    border-bottom: 1px solid #e7e6e6;
    /* set ideal gap with next paragragh */
    margin-bottom: 0;
}

#title + div{
    padding-left: 3px;
    padding-right: 3px;
}


.elaboration{
    text-align: justify;
}

#media img{
    width: 40px;
    height: 40px;
}

.MenuElaboration{
    padding-right: 10px;
    padding-left: 10px
}

strong{
    color: steelblue;
}

/* divide intern info into two parts: company and internInfo */
#internInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}

#projectInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}

#projectPic img{
    width: 240px;
    height: 170px;
    border-radius: 10%;
}


/* set position and border of footer; with link XiaohanLiu can return to the page top */
footer{
  text-align: center;
  border-top: 1px solid #e7e6e6;
}
