body{
    background-color: #232323;
    margin: 0;
    font-family: "Avenir";
}

h1{
    text-align: center;
    background-color: steelblue;
    color: honeydew;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#pickedColor{
    font-size: 200%;
}

.square{
    background-color: honeydew;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background 0.5s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

#stripe{
    background-color: honeydew;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    background-color: steelblue;
    color: honeydew;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}

button:hover{
    background-color: steelblue;
    color: honeydew;
}

#message{
    display: inline-block;
    width: 20%;
}